Repository figment-networks/learn-tutorials, pull requests merged in 2021-09, with the labels that each got.

#171 Create an Auction Bidding on Avalanche using ReactJS
  network-documentation/avalanche/tutorials/create-an-auction-bidding-on-avalanche-using-reactjs.md
Labels: New Tutorial

#154 Added new tutorial Substrate Kitties Nft
  network-documentation/polkadot/tutorials/substrate-kitties/basic-setup.md
  network-documentation/polkadot/tutorials/substrate-kitties/create-kitties.md
  network-documentation/polkadot/tutorials/substrate-kitties/dispatchables-and-events.md
  network-documentation/polkadot/tutorials/substrate-kitties/interacting-function.md
  network-documentation/polkadot/tutorials/substrate-kitties/overview.md
Labels: New Tutorial

#198 Polygon Chainlink VRF Tutorial
  .gitbook/assets/matic-chainlinkvrf-tutorial-img1.png
  .gitbook/assets/matic-chainlinkvrf-tutorial-img10.png
  .gitbook/assets/matic-chainlinkvrf-tutorial-img11.png
  .gitbook/assets/matic-chainlinkvrf-tutorial-img2.png
  .gitbook/assets/matic-chainlinkvrf-tutorial-img3.png
  .gitbook/assets/matic-chainlinkvrf-tutorial-img4.png
  .gitbook/assets/matic-chainlinkvrf-tutorial-img5.png
  .gitbook/assets/matic-chainlinkvrf-tutorial-img6.png
  .gitbook/assets/matic-chainlinkvrf-tutorial-img7.png
  .gitbook/assets/matic-chainlinkvrf-tutorial-img8.png
  .gitbook/assets/matic-chainlinkvrf-tutorial-img9.png
  network-documentation/matic/tutorials/chainlink-vrf-on-polygon-using-remix.md
Labels: New Tutorial

#175 Create a DEX on Avalanche updated
  .gitbook/assets/Awaswap_demo.gif
  .gitbook/assets/avaswap.png
  .gitbook/assets/avax-link-swap.png
  .gitbook/assets/link-avax-swap.png
  network-documentation/avalanche/tutorials/create-a-dex-with-avalanche.md
Labels: Learn v2

#230 Query Ethereum data with The Graph
  .gitbook/assets/graph.png
  .gitbook/assets/graph_connect.png
  .gitbook/assets/graph_create_subgraph.png
  .gitbook/assets/graph_metamask.png
  .gitbook/assets/graph_playground.png
  .gitbook/assets/graph_rinkeby_contract.png
  .gitbook/assets/graph_rinkeby_contract_purchase.png
  .gitbook/assets/graph_subgraph_created.png
  network-documentation/thegraph/tutorials/query-ethereum-data-with-the-graph.md
Labels: New Tutorial

#235 added NFT-Tutorial-Hardhat
  .gitbook/assets/ContractVerified.png
  .gitbook/assets/DeployingContract.png
  .gitbook/assets/HardHatInitializing.png
  .gitbook/assets/HardhatInstalled.png
  .gitbook/assets/InitialFileStructure.png
  .gitbook/assets/MetaMaskSign.png
  .gitbook/assets/NFTMinted.png
  .gitbook/assets/WithENV.png
  .gitbook/assets/ranTest.png
  network-documentation/matic/tutorials/NFT-Tutorial-Using-hardhat.md
Labels: New Tutorial

#237 Deploy a Subgraph with Hardhat
  .gitbook/assets/alchemy_create_app.png
  .gitbook/assets/alchemy_plan_free.png
  network-documentation/thegraph/tutorials/deploy-subgraph-with-hardhat.md
Labels: New Tutorial

#249 Transferring ERC-1155 using PoS bridge and SDK tutorial
  .gitbook/assets/erc1155-pos-map.png
  .gitbook/assets/erc1155-pos-mapped.png
  .gitbook/assets/erc1155-pos-metamask-eth-goerli.png
  .gitbook/assets/erc1155-pos-mumbai.png
  .gitbook/assets/erc1155-pos-ui-deposit.png
  .gitbook/assets/erc1155-pos-ui-done.png
  .gitbook/assets/erc1155-pos-ui.png
  network-documentation/matic/tutorials/erc1155-pos-bridge-sdk.md
Labels: New Tutorial, Approved

#246 add tutorial for near registry
  .gitbook/assets/near_registry_1.png
  .gitbook/assets/near_registry_2.png
  .gitbook/assets/near_registry_3.png
  .gitbook/assets/near_registry_4.png
  .gitignore
  network-documentation/near/tutorials/near-registry-dapp.md
Labels: New Tutorial, Approved

#247 Deploy a subgraph using Avalanche network
  .gitbook/assets/avalanche_metamask.png
  .gitbook/assets/datahub_avalanche.png
  .gitbook/assets/datahub_avalanche_api.png
  .gitbook/assets/datahub_signup.png
  network-documentation/thegraph/tutorials/deploy-subgraph-using-avalanche.md
Labels: New Tutorial, Approved

#245 new tutorial: sol-mint-nft, and also a spelling error edit to sol-mint-token
  .gitbook/assets/approveNFTTransaction.png
  .gitbook/assets/connectWalletToMarket.png
  .gitbook/assets/createNFTButton.png
  .gitbook/assets/deployAddressSol.png
  .gitbook/assets/listNFTButton.png
  .gitbook/assets/listedNFTs.png
  .gitbook/assets/metaplexRepo.png
  .gitbook/assets/myItemsPage.png
  .gitbook/assets/nftCategoryPage.png
  .gitbook/assets/nftInfoPage.png
  .gitbook/assets/nftLaunchPage.png
  .gitbook/assets/nftMintFinished.png
  .gitbook/assets/nftRoyaltiesPage.png
  .gitbook/assets/phantomCollectibles.png
  .gitbook/assets/storeWalletAddress.png
  .gitbook/assets/uploadNFTImages.png
  .gitbook/assets/yarnBuildSol.png
  .gitbook/assets/yourNFTs.png
  network-documentation/solana/.DS_Store
  network-documentation/solana/tutorials/sol-mint-nft.md
  network-documentation/solana/tutorials/sol-mint-token.md
Labels: New Tutorial, Approved
