Repository figment-networks/learn-tutorials, pull requests merged in 2021-06, with the labels that each got.

#116 NEAR: How to write and deploy smart contract in RUST
  SUMMARY.md
  network-documentation/near/tutorials/write-and-deploy-a-smart-contract-on-near.md
Labels: New Tutorial

#106 Create a chat application using solidity and react on Avalanche
  SUMMARY.md
  network-documentation/avalanche/tutorials/create-a-chat-application-using-solidity-and-react.md
Labels: New Tutorial

#115 Advanced evoting on avalanche using ReactJS
  SUMMARY.md
  network-documentation/avalanche/tutorials/README.md
  network-documentation/avalanche/tutorials/advanced-evoting-avalanche-reactjs.md
Labels: New Tutorial

#117 Distributed File Manager using Celo, IPFS and ReactJS
  SUMMARY.md
  network-documentation/celo/tutorial/README.md
  network-documentation/celo/tutorial/distributed-file-manager-using-ipfs-celo-reactjs.md
Labels: New Tutorial

#96 Create, Mint and Transfer NFTs with Avalanche Wallet
  SUMMARY.md
  network-documentation/avalanche/tutorials/create-mint-transfer-nft.md
Labels: New Tutorial

#118 Polkadot: Create guide for Polkadot Blockchain Terms
  .gitbook/assets/Parachains-Substrate-Polkadot-venn-diagram-1.png
  .gitbook/assets/one_parachain.png
  .gitbook/assets/parathread-pool.png
  .gitbook/assets/polkadot-graphic.png
  .gitbook/assets/polkadot-relay-chain.png
  .gitbook/assets/polkadot-substrate-ethereum.png
  network-documentation/polkadot/tutorials/polkadot-blockchain-terms.md
Labels: New Documentation

#114 Setting up avash
  SUMMARY.md
  network-documentation/avalanche/tutorials/local-avalanche-network-using-avash.md
Labels: Documentation

#107 Avalanche - Using Hardhat with the Avalanche C-Chain
  .gitbook/assets/storage-console-log.png
  SUMMARY.md
  network-documentation/avalanche/tutorials/using-hardhat-with-the-avalanche-c-chain.md
Labels: New Tutorial

#127 Create, Mint and Transfer NFTs with the Avalanche Wallet
  .gitbook/assets/access-wallet.png
  .gitbook/assets/avalanche-balance.png
  .gitbook/assets/avalanche-studio.PNG
  .gitbook/assets/avalanche-wallet.png
  .gitbook/assets/avax-faucet-testnet.PNG
  .gitbook/assets/change-network-to-fuji.png
  .gitbook/assets/collectible-coin.png
  .gitbook/assets/create-new-family-studio.png
  .gitbook/assets/create-new-wallet.png
  .gitbook/assets/generate-new-key.png
  .gitbook/assets/mint-collectibles.png
  .gitbook/assets/pikachu-coin-wallet-address.png
  .gitbook/assets/send-nft-different-address.png
  .gitbook/assets/send-nft-to-different-wallet.png
  .gitbook/assets/transaction-history.png
  .gitbook/assets/verify-key-phrase.png
  .gitbook/assets/wallet-avax-network.png
  .gitbook/assets/your-key-phrase.png
  SUMMARY.md
  network-documentation/avalanche/tutorials/create-mint-transfer-nft.md
Labels: New Tutorial

#76 Create celo-node-video-tutorial.md
  celo/tutorials/celo-node-video-tutorial.md
Labels: New Tutorial

#126 Re-add New Polkadot Files
  .gitbook/assets/Parachains-Substrate-Polkadot-venn-diagram-1.png
  .gitbook/assets/kusama.png
  .gitbook/assets/one_parachain.png
  .gitbook/assets/parachain-auction.png
  .gitbook/assets/parathread-parachain-diff.png
  .gitbook/assets/parathread-pool.png
  .gitbook/assets/parathreads-pay-as-you-go.png
  .gitbook/assets/polkadot-consensus-example-1.png
  .gitbook/assets/polkadot-consensus-example-2.png
  .gitbook/assets/polkadot-graphic.png
  .gitbook/assets/polkadot-kusama.png
  .gitbook/assets/polkadot-relay-chain.png
  .gitbook/assets/polkadot-substrate-ethereum.png
  SUMMARY.md
  network-documentation/polkadot/tutorials/polkadot-blockchain-terms.md
  parachain-lifecycle.md
Labels: New Documentation

#131 Matic word replaced with Polygon (Matic) in DH Docs (Please review carefully)
  SUMMARY.md
  figment-learn/all-tutorials.md
  network-documentation/matic/README.md
  network-documentation/matic/matic-101.md
  network-documentation/matic/resources.md
  network-documentation/matic/rpc-and-rest-api.md
  network-documentation/matic/rpc-and-rest-api/README.md
  network-documentation/matic/rpc-and-rest-api/matic.js-api.md
  network-documentation/matic/tutorials/README.md
  network-documentation/matic/tutorials/launch-a-full-stack-dapp.md
  network-documentation/matic/tutorials/untitled.md
  network-documentation/network-guide.md
Labels: Documentation
